<!--　スタート画面　&　POST requestを送る　-->

{% extends 'base.html' %}

{% block header %}


{% endblock header %}

{% block content %}
    <!-- doi検索フォーム　-->
    <form action="{% url 'abstrans' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group row">
            <label for="model" class="col-sm-1 col-form-label">doi</label>
            <div class="col-sm-3">
              <input type="text" class="form-control sbc_field" name="doi" placeholder="doiを入れてEnter！！"/>
    </div>

{% endblock content %}


